# Seguridad de la API (JWT)
# Genera una cadena larga y aleatoria para firmar los tokens
JWT_SECRET=df098as7d0987fa098s7df098as7df098as7df
ALGORITHM=HS256

# Integración Externa (Ciberseguridad)
VT_API_KEY=4df3406cf7af39abee586a69a2ff6510fd9f9d604eab4dd7dcd9e513b5a804d6

# Configuración del Servidor
FLASK_APP=app.py
FLASK_DEBUG=1
PORT=5000