# Framework base
Flask==3.1.0

# Gestión de entorno y peticiones
python-dotenv>=1.1.0
requests>=2.32.0
httpx>=0.27.0

# Seguridad y Criptografía
PyJWT>=2.9.0
cryptography>=43.0.0

# Servidor de Producción (para el Dockerfile)
gunicorn>=22.0.0